@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


.CartElement-main-container {
  width: 250px;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  margin: 15px auto 15px 25px;
  font-family: 'Open Sans';
  padding-bottom: 20px;
  border-bottom: 1px solid #EBEEF1;
}

.elementImage-subcontainer {
  margin-right: 15px;
}

.elementImage {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  object-fit: cover;
}

.elementContent-subcontainer {
  width: 100%;
}

.elementInfos-subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.elementName {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

.elementPrice {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.additionalInformation-subcontainer {
  margin-top: 5px;
}

.elementSubPrice {
  font-size: 11px;
  margin: 2px 0 0 0;
  font-weight: 600;
}

.elementSize {
  font-size: 11px;
  margin: 4px 0 0 0;
}

.productAmount-subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.productAmount {
  font-weight: 600;
  font-size: 11px;
  margin: 0 10px;
}

.productAmount::selection {
  background-color: #FFFFFF;
}

.minus-sign,
.plus-sign {
  width: 23px;
  height: 23px;
  background-color: #EBEEF1;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #888888;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0;
}

.minus-sign::selection,
.plus-sign::selection {
  background-color: #EBEEF1;
}

.removeElement-subcontainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: #EBEEF1;
  width: 260px;
  height: 110px;
  opacity: .9;
  margin: 0;
}

.removeElement-left-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.removeElementImage {
  width: 60px;
}

.removeElement {
  margin-left: -15px;
  font-size: 13px;
  font-weight: 600;
}

.removeElement-right-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.no-removeProduct,
.yes-removeProduct {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.no-removeProduct {
  background-color: #FFFFFF;
  border: 1px solid #DADEE3;
  font-size: 11px;
  font-weight: 600;
}

.yes-removeProduct {
  background-color: #FF5B57;
  color: #FFFFF4;
  border: 1px solid #F69A99;
  font-size: 11px;
  font-weight: 600;
  opacity: 1;
}