@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.productCards-main-container {
  font-family: 'Open Sans';
  background-color: #E9ECEF;
  display: flex;
  justify-content: center;
  min-height: 1000px;
  height: 1000px;
  overflow-y: scroll;
}

.productCards-main-container::-webkit-scrollbar {
  width: 5px;
}

.productCards-main-container::-webkit-scrollbar-thumb {
  border: 4px solid #c5cbd1;
}

.foods-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 100%;
}

.food-card {
  background-color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
  width: 330px;
  margin-bottom: 20px;
  height: fit-content;
}

.productImage {
  border-radius: 5px 5px 0 0;
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.infos-subcontainer {
  margin: 7px 0 10px 13px;
}

.productName {
  font-weight: 600;
  font-size: 13px;
  color: #000000;
  margin: 0;
}

.productDescription {
  font-size: 12px;
  font-weight: 600;
  color: #6F7578;
  opacity: .8;
  margin: 4px auto 12px auto;
}

.productPrice {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  letter-spacing: .4px;
  margin: 0;
}