ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.productcards-main-container {
  background-color: #E9ECEF;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.foods-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
}

.food-card {
  background-color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
  width: 330px;
  margin-bottom: 20px;
}

.productImage {
  border-radius: 5px 5px 0 0;
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.infos-subcontainer {
  margin: 7px 0 10px 13px;
}

.productName {
  color: #000000;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}

.productDescription {
  font-weight: 400;
  color: #6F7578;
  font-size: 12px;
  margin: 7px auto 12px auto;
  opacity: .8;
}

.productPrice {
  color: #000000;
  font-size: 13px;
  letter-spacing: .4px;
  margin: 0;
}